<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/CommunityToolkit/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="amrutha95" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>